@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');










.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 20px
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 0px;
    background-color: #4f84f5;
    -webkit-transition: .4s;
    transition: .4s
}

input:checked+.slider:before {
    transform: translateX(30px)
}

.slider.round {
    border-radius: 34px
}

.slider.round:before {
    border-radius: 50%
}